@using Radzen
@inherits LayoutComponentBase
@inject IIdentityService IdentityService
@inject NavigationManager NavigationManager
@inject Microsoft.JSInterop.IJSRuntime JSRuntime


<RadzenLayout style="width: 100%; text-align: center;"  id="radzen-layout" > 
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween"
                     Style="width: 99%;">
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
               <RadzenSidebarToggle Click="@(() => _sidebarExpanded = !_sidebarExpanded)"/>
               <RadzenLabel Text="MiniSpace"/>
            </RadzenStack>
            <RadzenMenu>
                <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5em">
                    <RadzenMenuItem Text="Home" Click="@(() => ScrollToSection("home"))" />
                    <RadzenMenuItem Text="About App" Click="@(() => ScrollToSection("about"))" />
                    <RadzenMenuItem Text="Connect" Click="@(() => ScrollToSection("connect"))" />
                    @if (IdentityService.IsAuthenticated)
                    {
                        <RadzenMenuItem Text="Sign Out" Click=@SignOut Icon="exit_to_app"/>
                    }
                    else
                    {
                        <RadzenMenuItem Text="Sign In" Path="signin" Icon="exit_to_app"/>
                        <RadzenMenuItem Text="Sign Up" Path="signup" Icon="assignment_ind"/>
                    }
                </RadzenStack>
            </RadzenMenu>
        </RadzenStack>
    </RadzenHeader>
    
     @if (IdentityService.IsAuthenticated)
    {
        <RadzenSidebar @bind-Expanded="@_sidebarExpanded">
            <RadzenPanelMenu>
                <RadzenPanelMenuItem Text="Home" Icon="home"
                                     Click="@(() => NavigationManager.NavigateTo(""))" />
                <RadzenPanelMenuItem Text="Account" Icon="account_box"
                                     Click="@(() => NavigationManager.NavigateTo("account"))" />
            </RadzenPanelMenu>
        </RadzenSidebar>
    }
    
    <RadzenBody style="margin: -12.0px;" class="radzen-body">
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
    <CustomRadzenFooter />
</RadzenLayout>


@code{
    bool _sidebarExpanded = true;
    
    void SignOut()
    {
        IdentityService.Logout();
        NavigationManager.NavigateTo("");
    }
    
    void ScrollToSection(string sectionId)
    {
        JSRuntime.InvokeVoidAsync("scrollToSection", sectionId);
    }
}
