@page "/profile"
@inject IIdentityService IdentityService
@inject IStudentsService StudentsService
@inject IMediaFilesService MediaFilesService
@using MudBlazor

<MudText Typo="Typo.h6" GutterBottom="true">Profile</MudText>
@if (IsLoading)
{
    <MudProgressCircular Indeterminate="true" Color="Color.Primary" />
}
else
{
    <MudGrid>
        <MudItem xs="12" sm="6" md="4">
            <div class="image-upload-container">
                <MudAvatar Class="profile-image" Square="true" Image="@GetImage()" Alt="Profile image" Style="height:200px; width: 200px; font-size:2rem;"/>
                <MudFileUpload T="IBrowserFile" @bind-Files="File" Accept=".jpg,.jpeg,.png">
                    <ButtonTemplate>
                        <MudButton HtmlTag="label"
                            Variant="Variant.Filled"
                            Color="Color.Primary"
                            StartIcon="@Icons.Material.Filled.CloudUpload"
                            Class="button-margins"
                            for="@context">
                            Upload Image
                        </MudButton>
                    </ButtonTemplate>
                    <SelectedTemplate>
                        @if (File != null)
                        {
                            <MudText> <MudIcon Icon="@Icons.Material.Filled.Attachment" /> @File.Name </MudText>
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@SaveImageAsync">Save Image</MudButton>
                        }
                        else
                        {
                            <MudText><MudIcon Icon="@Icons.Material.Filled.Attachment" /> No Files Selected</MudText>
                        }
                    </SelectedTemplate>
                </MudFileUpload>
            </div>
        </MudItem>
        <MudItem xs="11" sm="11">
            <MudTextField @bind-Value="StudentWithGalleryImagesDto.Student.FirstName" Label="First Name" HelperText="Your first name" Variant="Variant.Outlined" Margin="Margin.Dense"/>
        </MudItem>
        <MudItem xs="11" sm="11">
            <MudTextField @bind-Value="StudentWithGalleryImagesDto.Student.LastName" Label="Last Name" HelperText="Your last name" Variant="Variant.Outlined" Margin="Margin.Dense"/>
        </MudItem>
        <MudItem xs="12" sm="11" md="11">
            <MudGrid>
                <MudItem xs="11">
                    <MudTextField @bind-Value="StudentWithGalleryImagesDto.Student.Email" Label="Email" HelperText="Your email address" Variant="Variant.Outlined" ReadOnly="true" Margin="Margin.Dense" />
                </MudItem>
                <MudItem xs="11">
                    <MudTextField @bind-Value="StudentWithGalleryImagesDto.Student.Description" Label="Description" HelperText="A brief description about yourself" Variant="Variant.Outlined"  Lines="5"/>
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudGrid>
    <MudStack>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@SaveChangesAsync">Save profile</MudButton>
        @if (IsUploading)
        {
            <MudProgressCircular Indeterminate="true" Color="Color.Primary" />
        }
    </MudStack>
}

@code {
    [Parameter] public bool IsLoading { get; set; }
    [Parameter] public IBrowserFile File { get; set; }
    [Parameter] public StudentWithGalleryImagesDto StudentWithGalleryImagesDto { get; set; }
    [Parameter] public EventCallback SaveChangesAsync { get; set; }
    [Parameter] public EventCallback SaveImageAsync { get; set; }
    [Parameter] public bool IsUploading { get; set; }

    private string GetImage()
    {
        return !string.IsNullOrEmpty(StudentWithGalleryImagesDto.Student.ProfileImageUrl) 
            ? StudentWithGalleryImagesDto.Student.ProfileImageUrl 
            : "images/default_profile_image.webp";
    }
}
