@page "/reports"
@using MiniSpace.Web.Areas.Reports
@using MiniSpace.Web.DTO
@using MiniSpace.Web.DTO.Enums
@using MiniSpace.Web.DTO.States
@using MiniSpace.Web.DTO.Types
@using MiniSpace.Web.Models.Reports
@using MiniSpace.Web.Pages.Reports.Dialogs
@using MudBlazor
@using Radzen
@using Orientation = Radzen.Orientation
@using DialogOptions = Radzen.DialogOptions
@using DialogService = Radzen.DialogService
@inject DialogService DialogService
@inject IIdentityService IdentityService
@inject IReportsService ReportsService
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage


<AuthWrapper>
<div class="breadcrumbs-container">
    <MudBreadcrumbs Class="custom-breadcrumbs" Items="_items"></MudBreadcrumbs>
</div>
@code {
    private List<BreadcrumbItem> _items = new List<BreadcrumbItem>
    {
        new BreadcrumbItem("Home", href: "/", icon: Icons.Material.Filled.Home),
        new BreadcrumbItem("Reports", href: "/reports",  disabled: true, icon: Icons.Material.Filled.ReportProblem),
    };
}


<h1>Your reports</h1>

@if (!pageInitialized)
{
    <div style="display: flex; justify-content: center; align-items: center;">
        <RadzenProgressBarCircular ShowValue="true" ProgressBarStyle="ProgressBarStyle.Light" 
                                   Mode="ProgressBarMode.Indeterminate" Size="ProgressBarCircularSize.Large">
            <Template>Loading...</Template>
        </RadzenProgressBarCircular>
    </div>
}
@if (pageInitialized && studentId != Guid.Empty)
{
    <h4 class="rz-p-6">To see details of a report, open details dialog by clicking "Show" button.</h4>
    <h4 Style="color: dodgerblue">You can have max 3 active reports (Submitted or Under review).</h4>
    
    <RadzenStack class="rz-p-6" Gap="1rem" Style="height: 100%">
        @if (totalElements == 0)
        {
            <h3>You haven't created any reports yet.</h3>
        }

        @if (pageInitialized && totalElements != 0)
        {
            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.SpaceBetween">
                <RadzenButton Size="ButtonSize.Medium" Text="Reset paging criteria" Click="@ResetPagingCriteria"
                              class="rz-border-radius-1" Icon="autorenew"/>
                <RadzenStack Orientation="Orientation.Horizontal">
                    <RadzenText class="rz-p-1">Results at page:</RadzenText>
                    <RadzenDropDown Data="@pageSizeOptions" @bind-Value="@getStudentReportsModel.Results"
                                    Change="@GetStudentReports" Style="width: 5em"/>
                </RadzenStack>
                <MudPagination Count="@totalPages" SelectedChanged="@SelectedPageChanged"
                               Selected="@getStudentReportsModel.Page"
                               Rectangular="true" ShowFirstButton="true" ShowLastButton="true"/>
            </RadzenStack>
        }
        
        <RadzenDataGrid AllowColumnResize="true" AllowAlternatingRows="false" Data="@reports" ColumnWidth="300px"
                        PagerHorizontalAlign="HorizontalAlign.Center">
            <Columns>
                <RadzenDataGridColumn Property="ContextType" Title="Context Type" Frozen="true" Width="60px" TextAlign="TextAlign.Center">
                    <Template Context="report">
                        <RadzenText>@(ReportContextTypeExtensions.GetReportContextTypeText(report.ContextType))</RadzenText>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Property="Category" Title="Category" Frozen="true" Width="100px" TextAlign="TextAlign.Center">
                    <Template Context="report">
                        <RadzenText>@(ReportCategoryExtensions.GetReportCategoryText(report.Category))</RadzenText>
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Property="State" Title="State" Frozen="true" Width="60px" TextAlign="TextAlign.Center">
                    <Template Context="report">
                        @switch (report.State)
                        {
                            case ReportState.Submitted or ReportState.UnderReview:
                                <RadzenText Style="color: dodgerblue">@ReportStateExtensions.GetReportStateText(report.State)</RadzenText>
                                break;
                            case ReportState.Cancelled:
                                <RadzenText Style="color: darkorange">@ReportStateExtensions.GetReportStateText(report.State)</RadzenText>
                                break;
                            case ReportState.Resolved:
                                <RadzenText Style="color: green">@ReportStateExtensions.GetReportStateText(report.State)</RadzenText>
                                break;
                            case ReportState.Rejected:
                                <RadzenText Style="color: darkred">@ReportStateExtensions.GetReportStateText(report.State)</RadzenText>
                                break;
                        }
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Context="report" Title="Details" Width="60px" TextAlign="TextAlign.Center"
                                      Filterable="false" Sortable="false" Frozen="true">
                    <Template Context="report">
                        <RadzenButton Size="ButtonSize.Medium" Text="Show" class="rz-border-radius-1"
                                      ButtonStyle="ButtonStyle.Secondary" Icon="search"
                                      Click="@(() => OpenReportDetailsDialog(report))" />
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Context="report" Title="Options" Width="60px" TextAlign="TextAlign.Center"
                                      Filterable="false" Sortable="false" Frozen="true">
                    <Template Context="report">
                        @if (report.State is ReportState.Submitted)
                        {
                            <RadzenButton Size="ButtonSize.Medium" Text="Cancel" class="rz-border-radius-1"
                                          ButtonStyle="ButtonStyle.Primary" Disabled="false" Icon="close"
                                          Click="@(() => CancelReport(report))"/>
                        }
                        else
                        {
                            <RadzenButton Size="ButtonSize.Medium" Text="Cancel" class="rz-border-radius-1"
                                          ButtonStyle="ButtonStyle.Primary" Disabled="true" Icon="close"
                                          Click="@(() => CancelReport(report))"/>
                        }
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>

        @if (pageInitialized && totalElements != 0)
        {
            <RadzenStack Orientation="Orientation.Horizontal" JustifyContent="JustifyContent.End">
                <MudPagination Count="@totalPages" SelectedChanged="@SelectedPageChanged"
                               Selected="@getStudentReportsModel.Page"
                               Rectangular="true" ShowFirstButton="true" ShowLastButton="true"/>
            </RadzenStack>
        }
    </RadzenStack>
}
</AuthWrapper>
@code {
    private GetStudentReportsModel getStudentReportsModel = new();
    
    private Guid studentId;
    private bool pageInitialized = false;

    IEnumerable<int> pageSizeOptions = new int[] { 5, 10, 20, 40 };
    
    int totalPages = 0;
    int totalElements = 0;
    IEnumerable<ReportDto> reports; 
    
    protected override async Task OnInitializedAsync()
    {
        if (IdentityService.IsAuthenticated)
        {
            studentId = IdentityService.GetCurrentUserId();
            
            var getReportsCriteria = await LocalStorage.GetItemAsync<GetStudentReportsModel>("getReportsCriteria");
            if (getReportsCriteria != null)
            {
                getStudentReportsModel = getReportsCriteria;
            }

            await GetStudentReports();
            pageInitialized = true;
            
            var reportDto = await LocalStorage.GetItemAsync<ReportDto>("studentReportDto");
            if (reportDto != null)
            {
                await LocalStorage.RemoveItemAsync("studentReportDto");
                await OpenReportDetailsDialog(reportDto);
            }
        }
    }

    private async Task GetStudentReports()
    {
        var response = await ReportsService.GetStudentReportsAsync(studentId,
            getStudentReportsModel.Page, getStudentReportsModel.Results);
        
        if (response != null)
        {
            totalPages = response.TotalPages;
            totalElements = response.TotalElements;
            reports = response.Content;
        }
        else
        {
            totalPages = 0;
            totalElements = 0;
            reports = new List<ReportDto>();
        }
        
        await LocalStorage.SetItemAsync("getReportsCriteria", getStudentReportsModel);
    }
    
    private async void ResetPagingCriteria()
    {
        getStudentReportsModel.SetDefaultValues();
        await GetStudentReports();
        StateHasChanged();
    }
    
    private async void SelectedPageChanged(int pageNumber)
    {
        getStudentReportsModel.Page = pageNumber;
        
        var response = await ReportsService.GetStudentReportsAsync(studentId,
            getStudentReportsModel.Page, getStudentReportsModel.Results);
        reports = response.Content;
        
        await LocalStorage.SetItemAsync("getReportsCriteria", getStudentReportsModel);
        StateHasChanged();
    }
    
    private async Task OpenReportDetailsDialog(ReportDto reportDto)
    {
        await DialogService.OpenAsync<ReportDetailsDialog>("Details of the report:",
            new Dictionary<string, object>() { { "ReportDto", reportDto } },
            new DialogOptions()
            {
                Width = "700px", Height = "600px", Resizable = true, Draggable = true,
                AutoFocusFirstElement = false
            });
    }
    
    private async void CancelReport(ReportDto reportDto)
    {
        var response = await ReportsService.CancelReportAsync(reportDto.Id);
        if (response.ErrorMessage is { Code: "400" }) return;
        reportDto.State = ReportState.Cancelled;
        StateHasChanged();
    }
}
