@page "/events/search"
@using MiniSpace.Web.Areas.Identity
@using MiniSpace.Web.Areas.Events
@using MiniSpace.Web.DTO
@using MiniSpace.Web.DTO.Wrappers
@using MiniSpace.Web.Models.Events
@using Radzen
@inject IIdentityService IdentityService
@inject IEventsService EventsService
@inject NavigationManager NavigationManager

<h3>Search events</h3>

<RadzenDataList WrapItems="true" AllowPaging="false" Data="@events" TItem="EventDto">
    <Template Context="ev">
        <RadzenCard Style="width: 500px; ">
            <RadzenRow Size="12">
                <RadzenColumn Size="4">
                    <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-1 rz-my-0">Name</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@(ev.Name)</b></RadzenText>
                    <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-3 rz-my-0">Category</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@(ev.Category)</b></RadzenText>
                </RadzenColumn>
                <RadzenColumn Size="4">
                    <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-1 rz-my-0">Description</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@(ev.Description)</b></RadzenText>
                    <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-3 rz-mb-0">Fee</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@(ev.Fee)</b></RadzenText>
                </RadzenColumn>
                <RadzenColumn Size="4">
                    <RadzenText TextStyle="TextStyle.Overline" class="rz-display-flex rz-mt-1 rz-mb-0">City</RadzenText>
                    <RadzenText TextStyle="TextStyle.Body1"><b>@(ev.Location.ZipCode), @(ev.Location.City)</b></RadzenText>
                    <RadzenButton Size="ButtonSize.Small" Text="See event" class="rz-mt-3 rz-my-0"
                                  Click="@(() => NavigationManager.NavigateTo("/events/details"))"/>
                </RadzenColumn>
            </RadzenRow>
            <hr style="border: none; background-color: rgba(0,0,0,.2); height: 1px; margin: 1rem 0;" />
        </RadzenCard>
    </Template>
</RadzenDataList>

<RadzenPager ShowPagingSummary="true" PagingSummaryFormat="@pagingSummaryFormat" HorizontalAlign="HorizontalAlign.Right" Count="count" PageSize="@pageSize" PageNumbersCount="5" PageChanged="@PageChanged" />

@code {
    private bool showError = false;
    private bool popup;
    private int publishInfo = 1;
    
    string pagingSummaryFormat = "Displaying page {0} of {1} (total {2} records)";
    int pageSize = 2;
    int count = 12;
    IEnumerable<EventDto> events;
    IEnumerable<EventDto> eventPages;
    
    protected override async Task OnInitializedAsync()
    {
        var tmp = await EventsService.SearchEventsAsync("event", "",
            new DateTime(2024, 04, 10).ToString("yyyy-MM-ddTHH:mm:ss.fffZ"),
            new DateTime(2024, 04, 30).ToString("yyyy-MM-ddTHH:mm:ss.fffZ"),
            new PageableDto()
            {
                Page = 1,
                Size = 6,
                Sort = new SortDto()
                {
                    SortBy = new List<string>(){"description"},
                    Direction = "Ascending"
                }
            });
        events = tmp.Content;
    }

    void PageChanged(PagerEventArgs args)
    {
        //events = GetEvents(args.Skip, args.Top);
    }
}
