@page "/student-profile"
@using MiniSpace.Web.DTO.Types
@using MiniSpace.Web.DTO
@using MiniSpace.Web.Areas.MediaFiles
@using MiniSpace.Web.Areas.Students
@using System.IO
@using Microsoft.AspNetCore.Components.Forms
@inject IMediaFilesService MediaFilesService
@inject IIdentityService IdentityService
@inject IStudentsService StudentsService
@inject NavigationManager NavigationManager
@inject IDialogService DialogService
@using MudBlazor
@inject IJSRuntime JS
@using Microsoft.JSInterop

<MudDialogProvider/>
<div>
    <MudText Typo="Typo.h6" GutterBottom="true">Gallery</MudText>
    @if (isLoading)
    {
        <MudProgressCircular Indeterminate="true" Color="Color.Primary" />
    }
    else
    {
        <MudGrid>
            <MudItem xs="12">
                <MudText Typo="Typo.h6" GutterBottom="true">Current Banner</MudText>
                @if (!string.IsNullOrEmpty(studentDto.BannerUrl))
                {
                    <MudCard>
                        <MudCardMedia Image="@studentDto.BannerUrl" Alt="Banner image" />
                    </MudCard>
                }
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="NavigateToBannerUpdate">Change Banner Image</MudButton>
            </MudItem>

            <MudItem xs="12">
                <MudText Typo="Typo.h6" GutterBottom="true">Gallery Images</MudText>
                <MudGrid class="spotlight-group" Spacing="3">
                    @foreach (var imageUrl in studentDto.GalleryOfImageUrls)
                    {
                        <MudItem xs="12" sm="6" md="4">
                            <a class="spotlight" href="@imageUrl">
                                <MudCard>
                                    <MudCardMedia Image="@imageUrl" Alt="Gallery image" />
                                </MudCard>
                            </a>
                        </MudItem>
                    }
                </MudGrid>
                <div class="image-upload-container">
                    <InputFile id="fileInput" OnChange="OnGalleryFilesChanged" multiple accept="image/*" style="display: none;" />
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="TriggerFileInputClick">Choose Gallery Files</MudButton>
                    @if (galleryFiles != null && galleryFiles.Any())
                    {
                        <MudText> <MudIcon Icon="@Icons.Material.Filled.Attachment" /> @galleryFiles.Count() files selected </MudText>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="UploadGalleryImagesAsync">Upload to Gallery</MudButton>
                    }
                    @if (isUploading)
                    {
                        <MudProgressCircular Indeterminate="true" Color="Color.Primary" />
                    }
                </div>
            </MudItem>
        </MudGrid>
    }
</div>

<RadzenDialog />

@code {
    private bool isLoading = true;
    private bool isUploading = false; // New state for upload progress
    private StudentDto studentDto = new();
    private IList<IBrowserFile> galleryFiles = new List<IBrowserFile>();

    private long maxFileSize = 32 * 1024 * 1024;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        try
        {
            await IdentityService.InitializeAuthenticationState();
            if (IdentityService.IsAuthenticated)
            {
                var studentId = IdentityService.GetCurrentUserId();
                studentDto = await StudentsService.GetStudentAsync(studentId);
            }
            else
            {
                NavigationManager.NavigateTo("/login");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error in OnInitializedAsync: {ex.Message}");
        }
        finally
        {
            isLoading = false;
            StateHasChanged();
        }
    }

    private async Task OnGalleryFilesChanged(InputFileChangeEventArgs args)
    {
        galleryFiles = args.GetMultipleFiles().ToList();
        StateHasChanged();
    }

    private async Task UploadGalleryImagesAsync()
    {
        if (galleryFiles != null && galleryFiles.Count > 0)
        {
            isUploading = true; // Set uploading state to true
            StateHasChanged();
            try
            {
                foreach (var file in galleryFiles)
                {
                    var stream = file.OpenReadStream(maxFileSize);
                    byte[] bytes = await ReadFully(stream);
                    var base64Content = Convert.ToBase64String(bytes);
                    var response = await MediaFilesService.UploadMediaFileAsync(IdentityService.GetCurrentUserId(),
                        MediaFileContextType.StudentGalleryImage.ToString(), IdentityService.GetCurrentUserId(),
                        file.Name, file.ContentType, base64Content);
                    if (response.Content != null && !string.IsNullOrEmpty(response.Content.FileUrl))
                    {
                        studentDto.GalleryOfImageUrls = studentDto.GalleryOfImageUrls.Append(response.Content.FileUrl).ToList();
                    }
                    stream.Close();
                }
            }
            finally
            {
                galleryFiles.Clear();
                isUploading = false; // Set uploading state to false
                StateHasChanged();
            }
        }
    }

    private static async Task<byte[]> ReadFully(Stream input)
    {
        byte[] buffer = new byte[16 * 1024];
        using (MemoryStream ms = new MemoryStream())
        {
            int read;
            while ((read = await input.ReadAsync(buffer, 0, buffer.Length)) > 0)
            {
                ms.Write(buffer, 0, read);
            }
            return ms.ToArray();
        }
    }

    private void NavigateToBannerUpdate()
    {
        NavigationManager.NavigateTo("/update-banner");
    }

    private async Task TriggerFileInputClick()
    {
        var fileInput = await JS.InvokeAsync<IJSObjectReference>("document.getElementById", "fileInput");
        await fileInput.InvokeVoidAsync("click");
    }
}
